<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository>${user.home}/.m2/repository</localRepository-->
  <localRepository>/storage/.m2/repository</localRepository>
  <interactiveMode>true</interactiveMode>
  <usePluginRegistry>false</usePluginRegistry>
  <offline>false</offline>

  <servers>
    <!-- tomcat local -->
    <server>
      <id>local.tomcat</id>
      <username>aron</username>
      <password>aron</password>
    </server>

    <!-- postgres local live -->
    <server>
      <id>local.postgres.live</id>
      <username>postgres</username>
      <password>db</password>
    </server>

    <!-- postgres local dev -->
    <server>
      <id>local.postgres.dev</id>
      <username>postgres</username>
      <password>db</password>
    </server>
  </servers>

  <profiles>
    <!-- live profile -->
    <profile>
      <id>live</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>


      <properties>
        <!-- tomcat -->
        <tomcat.server.id>local.tomcat</tomcat.server.id>
        <tomcat.manager.url>http://localhost:8080/manager/text</tomcat.manager.url>
        <tomcat.path>/app</tomcat.path>

        <!-- flyway users db, postgres -->
        <postgres.server.id>local.postgres.live</postgres.server.id>
        <db.users.url>jdbc:postgresql://127.0.0.1:5432/users</db.users.url>

        <!-- flyway work db, postgres -->
        <postgres.server.id>local.postgres.live</postgres.server.id>
        <db.work.url>jdbc:postgresql://127.0.0.1:5432/work</db.work.url>

        <!-- configuration files for config loader, only works with mvn tomcat7:run -->
        <app.conf.key>/var/opt/cornerstone/key.conf</app.conf.key>
        <app.conf.main>/var/opt/cornerstone/app.conf</app.conf.main>
      </properties>
    </profile>

    <!-- dev profile -->
    <profile>
      <id>dev</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <!-- tomcat -->
        <m2.tomcat.server.id>local.tomcat</m2.tomcat.server.id>
        <m2.tomcat.manager.url>http://localhost:8080/manager/text</m2.tomcat.manager.url>
        <m2.tomcat.path>/app</m2.tomcat.path>

        <!-- USERS DB CONFIG -->
        <m2.db.users.server_id>local.postgres.dev</m2.db.users.server_id>
        <m2.db.users.db_name>dev_users</m2.db.users.db_name>
        <m2.db.users.db_url>jdbc:postgresql://127.0.0.1:5432/dev_users</m2.db.users.db_url>
        <m2.db.users.db_schemas.user_data.name>user_data</m2.db.users.db_schemas.user_data.name>
        <!-- user for the application -->
        <m2.db.users.db_user>dev</m2.db.users.db_user>
        <m2.db.users.db_password>dev123</m2.db.users.db_password>

        <!-- WORK DB CONFIG -->
        <m2.postgres.server.id>local.postgres.dev</m2.postgres.server.id>
        <m2.db.work.url>jdbc:postgresql://127.0.0.1:5432/dev_work</m2.db.work.url>

        <!-- configuration files for config loader, only works with mvn tomcat7:run -->
        <m2.app.conf.key>/home/aron/.corner/key.conf</m2.app.conf.key>
        <m2.app.conf.main>/home/aron/.corner/app.conf</m2.app.conf.main>
      </properties>
    </profile>
  </profiles>
</settings>
